.fundo_nav{
	background-color: #e08f14;
	color: white;
	height: 100%;
}
.titulos{
	text-align: center;
	font-size: 40px;
	font-family: FreeMono, monospace;
}
p,li{
	font-size: 20px;
}
body{
	background-color: #DEB887;
}
a{
	text-decoration-line: none;
}
footer{
	background-color: darkgray;
	text-align: center;
}
header{
	background-image: url('../img/teste2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
	font-size: 25px;
}

.nome{
	color: white;
	font-size: 40px;
	margin-top: 20%;
}
.nome2{
	color: white;
	font-size: 30px;
}

.botao{
	border-radius: 20%;
	background-color: gray;
	margin-bottom: 20%;
}

.foto{
	width: 45%;
	margin-left: 10%;
	margin-bottom: 5%;
}

#sobre{
	background-color: tomato;
}

#text{
	font-size: 30px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	color: white;
	text-align: center;
	margin-top: 10%;
}

#esp{
	background-color: #fceb8d;
	text-align: center;
}

.imgs:hover{
		transition: 1s;
		transform: rotate(360deg);
}
.ani{
	text-align: center;
	font-style: italic;
	animation-duration: 1.5s;
	animation-name: titulo;
	animation-iteration-count: infinite;
	}
		@keyframes titulo {
			from{color: darkorange;}
			to{color: deepskyblue;}
			}

#hob{
	text-align: center;
	background-color: rgb(170, 207, 133);
}
#exp{
	background-color: rgb(212, 100, 100);
}
#cont{
	background-color: rgb(142, 220, 243);
}
.cre{
	font-size: 12px;
}
.linkf{
	color: black;
	font-size: 20px;
	margin-right: 9%;
}
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    text-decoration: none;
	border-radius: 30%;
}
.btn2::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn2:hover::after {
    margin-top:-8px;
}